# Customer defaulting likelyhood

In [20]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

## Data preprocessing

In [14]:
# Set pd options
pd.set_option('display.max_columns', 500)

In [17]:
# Import data
data_0716 = pd.ExcelFile('models/FE data - 0716S.xlsx')

In [23]:
all_data = pd.read_excel(data_0716, '0716SDL')
all_data.head()

,NRIC,Age,Race,Sex,Nation,Address,Tel,Mth(s),Anklet,Bangle,Bracelet,Chain,Earring,Earstud,Necklace,Pendant,Ring,O,24K,22K,20K,18K,14K,9K,W,Value ($),Interest Payable ($),Status,Defaulted
0,S,51,C,F,S,H,M,1,0,0,0,0,0,0,0,1,0,0,0.0,20.0,0.0,0.0,0,0.0,0.0,1100,11,C,False
1,S,25,I,M,S,H,M,7,0,0,0,0,0,2,0,0,0,0,0.0,2.5,0.0,0.0,0,0.0,0.0,110,11.55,L,False
2,S,51,C,F,S,H,M,6,0,0,0,0,0,0,1,0,0,0,0.0,49.3,0.0,0.0,0,0.0,0.0,2170,195.3,C,False
3,S,51,C,F,S,H,M,6,0,0,0,1,0,0,0,0,0,0,0.0,37.9,0.0,0.0,0,0.0,0.0,1550,139.5,C,False
4,S,51,C,M,S,C,M,1,0,0,0,0,0,0,0,0,0,1,0.0,0.0,0.0,0.0,0,0.0,129.6,10000,100,C,False

In [24]:
all_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73 entries, 0 to 72
Data columns (total 29 columns):
NRIC                    73 non-null object
Age                     73 non-null int64
Race                    73 non-null object
Sex                     73 non-null object
Nation                  73 non-null object
Address                 73 non-null object
Tel                     73 non-null object
Mth(s)                  73 non-null object
Anklet                  73 non-null int64
Bangle                  73 non-null int64
Bracelet                73 non-null int64
Chain                   73 non-null int64
Earring                 73 non-null int64
Earstud                 73 non-null int64
Necklace                73 non-null int64
Pendant                 73 non-null int64
Ring                    73 non-null int64
O                       73 non-null int64
24K                     73 non-null float64
22K                     73 non-null float64
20K                     73 non-null float64
18K                     73 non-null float64
14K                     73 non-null int64
9K                      73 non-null float64
W                       73 non-null float64
Value ($)               73 non-null int64
Interest Payable ($)    73 non-null object
Status                  73 non-null object
Defaulted               73 non-null bool
dtypes: bool(1), float64(6), int64(13), object(9)
memory usage: 16.1+ KB

In [21]:
# late_only_data = pd.read_excel(data_0716, '0716SL')
# late_only_data.head()

**all_data** contains data from closed, defaulted and late customers, where as **late_only_data** contains only for late

In [30]:
# Drop unecessary features
features_to_drop = ["Defaulted"]
all_data = all_data.drop(features_to_drop, axis=1)

In [31]:
# Get dependent and independent variables
X = all_data.iloc[:, :-1].values
Y = all_data.iloc[:, -1].values

## Model 1: Including item types

## Model 2: Excluding item types (except watch)

## Model 3: Excluding all item types

In [32]:
X

array([['S', 51, 'C', ..., 0.0, 1100, 11],
       ['S', 25, 'I', ..., 0.0, 110, 11.55],
       ['S', 51, 'C', ..., 0.0, 2170, 195.3],
       ...,
       ['S', 51, 'M', ..., 0.0, 95, '-'],
       ['S', 51, 'I', ..., 0.0, 150, '-'],
       ['S', 40, 'M', ..., 0.0, 2600, '-']], dtype=object)

In [33]:
Y

array(['C', 'L', 'C', 'C', 'C', 'C', 'C', 'L', 'L', 'C', 'C', 'L', 'C',
       'L', 'C', 'L', 'L', 'D', 'L', 'L', 'L', 'C', 'L', 'C', 'C', 'C',
       'D', 'C', 'C', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D',
       'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D',
       'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D',
       'D', 'D', 'D', 'D', 'D', 'D', 'D', 'D'], dtype=object)